p {
  font-style: italic;
  font-size: 24px;
  line-height: 16px;
}

h4 {
  font-style: italic;
}

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

#unit-select {
  text-decoration: underline;
  cursor: pointer;
}